*{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
    float: left;
}
body{
    width: 100%;
}

/* header */
.header_bg{
    width: 100%;
    background: #333;
    height: 64px;
}
.header{
    width: 960px;
    margin: 0 auto;
    color: #fff;
}
.header .logo{
    display: inline;
    text-align: left;
    line-height: 64px;
    width: 150px;
}
.header a{
    color: #fff;
}
.header .login{
    display: inline-block;
    float: right;
    text-align: right;
    width: 300px;
    height: 64px;
    line-height: 64px;
}

/* banner */
.banner_bg{
    background: rgb(102,187,51); 
    position: relative;
}
.banner{
    height: 230px;
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.banner .range{
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.banner .range li{
    width: 25px;
    border: 1px solid #333;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 5px 0 0;
    background: rgba(225, 225, 225, 0.5);
}
.banner .range li:nth-child(2){
    height: 38px;
    line-height: 38px;
    margin-top: -10px;
}

/* 导航栏 */
.nav_bg{
    border-bottom: 1px solid #ccc;
}
.nav{
    height: 56px;
    width: 960px;
    margin: 0 auto;
    position: relative;
    font-size: 12px;
}
.nav ul{
    bottom: 0px;
    height: 40px;
    position: absolute;
}
.nav li{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 40px;
    width: 80px;
    text-align: center;
}
.nav li:nth-child(1){
    background: #fff;
}

/* 主要内容 */
.container{
    width: 960px;
    margin: 0px auto 10px auto;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-flow:row wrap;
}
.container div{
    padding: 80px;
    border: 1px solid #ccc;
    margin: 10px 10px 0 0;
    flex: 1;
}


/* 底部 */
.footer{
    box-sizing: border-box;
    background: #ccc;
    color: #fff;
    text-align: center;
    height: 90px;
    padding-top: 10px; 
}