*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: 'ProximaNova Semibold';
    src: url('../font/ProximaNova-Semibold.otf');
}
html,body{
    height: 100%;
    overflow: hidden;
}
ul li{
    list-style: none;
}
.left{
    position: fixed;
    width: 100px;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    background: rgb(29, 37, 49);
    overflow: hidden;
}
.left .left_angle{
    position: absolute;
    border-top: 5px solid transparent;
    border-left: 5px solid #2399f1;
    border-bottom: 5px solid transparent;
    top:44px;
}
.left img{
    padding: 20px 20px 0 20px;
}

.mid{
    position: fixed;
    background: rgb(34, 44, 60);
    width: 250px;
    top: 0;
    bottom: 0;
    left: 100px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'ProximaNova Semibold';
    padding: 30px;
}
.mid a{
    text-decoration: none;
    color: rgb(183, 192, 205);
    font-size: 14px;
}
.mid a:hover{
    color: #fff;
}

.mid h1{
    color: rgb(91, 103, 121);
    font-size: 10px;
    width: 100px;
    display: inline;
}
.mid span{
    float: right;
}
.mid li{
    margin: 5px 0;
    height: 26px;
    line-height: 26px;
}
.mid .mid_top li:nth-child(3) span{
    color: #fff;
    font-size: 14px;
    background: #2399f1;
    padding: 0 10px;
    border-radius: 15px;
}
.mid .mid_mid,
.mid .mid_bottom{
    border-top: 1px solid rgb(42,53,71);
    padding-top: 16px;
}

.mid .mid_bottom li:nth-child(2) span{
    color: #fff;
    font-size: 14px;
    background: #2399f1;
    padding: 0 10px;

    border-radius: 15px;
}
.mid .mid_bottom li:nth-child(4) span{
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: rgb(232, 70, 43);
    padding: 0 6px;
    width: 15px;
    border-radius: 15px;
}
.mid .monthly{
    position: absolute;
    bottom: 20px;
    color: #fff;
}
.mid .monthly h2{
    font-size: 14px;
    float: left;
}
.mid .monthly p{
    font-size: 14px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}
.mid .monthly span{
    color: #ccc;
}
.mid .monthly .line{
    clear: both;
    height: 3px;
    position: relative;
}
.mid .monthly .line1{
    width: 190px;
    height: 3px;
    background: rgb(45, 56, 72);
    position: absolute;
}
.mid .monthly .line2{
    clear: both;
    height: 3px;
    background: linear-gradient(to right,rgb(128,92,230),rgb(155,141,227));
    width: 40px;
    position: absolute;
    border-radius: 2px;
}

.right{
    position: absolute;
    background: #fff;
    left: 350px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.right .r_header{
    height: 80px;
    border-bottom: 1px solid rgb(230, 233, 236);;
}
.right .r_header h1{
    width: 150px;
    padding: 30px;
    font-size: 18px;
    font-weight: normal;
    float: left;
}
.right .r_header .user{
    position: absolute;
    right:30px;
    top: 14px;
    display: flex;
}
.right .r_header .user div{
    flex: 1;
    position: relative;
}
.right .r_header .user div:nth-child(1){
    right: 30px;
}
.right .r_header .user div:nth-child(2){
    right: 15px;
    padding-top: 6px; 
}
.right .r_header .user div:nth-child(3){
    padding-top: 15px; 
}
.right .r_header .user h2{
    font-size: 16px;
    color: #2399f1;
}
.right .r_header .user p{
    font-size: 14px;
    color: rgb(191, 191, 191);
}

.right .r_left{
    width: 400px;
    position: absolute;
    box-sizing: border-box;
    border-right: 1px solid rgb(230, 233, 236);
    top: 80px;
    bottom: 0;
    overflow-y: scroll;
}
.right .r_left .header{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(230, 233, 236);;
    height: 70px; 
    padding: 16px 30px;
}
.right .r_left .header input{
    outline: none;
    padding-left: 12px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(230, 233, 236);
    border-radius: 4px;
}
.right .r_left .header input::placeholder{
    color: rgb(230, 233, 236);
}
.right .r_left .header img{
    position: absolute;
    right: 40px;
    top: 26px;
}

.right .r_left .container{
    box-sizing: border-box;
}
::-webkit-scrollbar{width:0px}

.right .r_left .container .item{
    height: 130px;
    border-bottom: 1px solid rgb(230, 233, 236);
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}
.right .r_left .container li:nth-child(1){
    border-left: 3px solid #2399f1;
}
.right .r_left .container .item img{
    float: left;
}
.right .r_left .container .item .item_top_name{
    float: left;
    padding-left: 20px;
}
.right .r_left .container .item h3{
    font-size: 16px;
    color: rgb(88, 93, 104);
}
.right .r_left .container li:nth-child(1) h3{
    font-size: 16px;
    color: #2399f1;
}
.right .r_left .container li:nth-child(1) span{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #2399f1;
    float: left;
    margin: 8px 6px 0 0;
}
.right .r_left .container .item h4{
    font-size: 14px;
    color: rgb(191, 191, 191);
}
.right .r_left .container .item h5{
    float: right;
    color: rgb(144, 158, 176);
}
.right .r_left .container .item p{
    clear: both;
    font-size: 14px;
    color: rgb(144, 158, 176);
    padding-top: 10px;

    overflow: hidden;/*超出部分隐藏*/
    text-overflow: ellipsis;/*用...代替超出部分*/
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 
}

.right .r_right{
    position: absolute;
    left: 400px;
    box-sizing: border-box;
    top: 80px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
.right .r_right .header{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(230, 233, 236);
    height: 70px; 
    overflow: hidden;
}
.right .r_right .header h3{
    font-size: 16px;
    color: rgb(88, 93, 104);
    margin: 25px 10px 25px 25px;
    float: left;
}
.right .r_right .dot{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #1bb934;
    display: inline;
    float: left;
    margin-top: 32px;
}
.right .r_right .del{
    float: right;
    margin: 18px 20px;
    font-size: 0;
}
.right .r_right .del .tools{
}
.right .r_right .del .tools button{
    width: 36px;
    height: 32px;
    border: 1px solid #ccc;
}
.right .r_right .del .tools button:nth-child(1){
    background: url('../img/User-icon.png') no-repeat 50% 50%,linear-gradient(to bottom, #fff 0%,#eee 100%);
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.right .r_right .del .tools button:nth-child(2){
    background: url('../img/Upload-icon.png') no-repeat 50% 50%,linear-gradient(to bottom, #fff 0%,#eee 100%);
    border-right: none;
}
.right .r_right .del .tools button:nth-child(3){
    background: url('../img/Trash-icon.png') no-repeat 50% 50%,linear-gradient(to bottom, #fff 0%,#eee 100%);
    border-radius: 0 4px 4px 0;
}
.right .r_right .del .tools h4{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 22px;
    position: relative;
    top: -10px;
    padding: 0 22px;
    border-left: 1px solid #eee;
}
.right .r_right .del .tools button:nth-child(5){
    border-right: none;
    background: url('../img/Arrow-left.png') no-repeat 50% 50%,linear-gradient(to bottom, #fff 0%,#eee 100%);
    border-radius: 4px 0 0 4px;
}
.right .r_right .del .tools button:nth-child(6){
    background: url('../img/Arrow-right.png') no-repeat 50% 50%,linear-gradient(to bottom, #fff 0%,#eee 100%);
    border-radius: 0 4px 4px 0;
}

.right .r_right .item1{
    padding: 26px 56px 0px 30px;
    position: relative;
    clear: both;
    overflow: hidden;
}
.right .r_right .item1 div:first-child{
    float: left;
}
.right .r_right .item1 div:last-child{
    margin-left: 68px;
}
.right .r_right .item1 h4{
    font-size: 16px;
    line-height: 28px;
}
.right .r_right .item1 span{
    color: #ccc;
    font-size: 14px;
    margin-left: 10px;
}
.right .r_right .item1 p{
    font-size: 14px;
    color: rgb(144, 158, 176);
}
.right .r_right .content .line{
    text-align: center;
    clear: both;
    border-top: 1px solid rgb(230, 233, 236);;
    margin-top: 20px; 
}
.right .r_right .content .line p{
    display: inline-block;
    position: relative;
    top: -12px;
    background: #fff;
    font-size: 14px;
    padding: 0 18px;
    color: rgb(230, 233, 236);
}